<section class="card mb-3">
    <h2 class="card-title">{{post_title}}</h2>
    <h5 class="card-content">{{post_content}}</h5>
    <h4 class="card-author">Posted by: {{user.username}} on {{format_date date_created}}<span class = "edit-delete-buttons"><a href="api/posts/edit-post/{{id}}" class="btn btn-warning edit-button" id="edit-{{id}}">Edit</a><button class="btn btn-danger delete-button" id="delete-{{id}}">Delete</button></span></h4>
    
</section>